@import "material-design-lite/src/color-definitions";

// Application personal colors
$color-background: #FAFAFA;

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-yellow-500;

$color-card-todo: unquote("rgb(#{$palette-blue-500})");
$color-card-done: unquote("rgb(#{$palette-green-500})");
$color-card-missed: unquote("rgb(#{$palette-red-500})");
$color-card-dismissed: unquote("rgb(#{$palette-grey-500})");


